# Copyright 2026 Roman Kuzmitskii (@damex)
# SPDX-License-Identifier: MIT

if DT_HAS_ZMK_BEHAVIOR_STEPPED_SCROLL_ENABLED

module = ZMK_BEHAVIOR_STEPPED_SCROLL
module-str = zmk_behavior_stepped_scroll
source "subsys/logging/Kconfig.template.log_config"

endif
